.content_item{
    width: 250px;
    color: #d57d1f;
    cursor: pointer;
}
.content_item img {
    width: 100%;
    height: 100%;
}
.content_item p {
    text-align: center;
}
.content_item p:hover{
    color: orange;
}