.content {
  display: flex;
  gap: 20px;
  padding: 30px 0;
}
.title {
  text-align: center;
  color: #fff;
}
.content_title {
  width: 420px;
  height: 420px;
}
.content_title img {
  width: 100%;
  height: 100%;
}

.images_title {
  width: 70%;
}
.images_title h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
.image_item {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.images_item p{
  color: #d57d1f;
  cursor: pointer;
  
}
.item {
  width: 190px;
  height: 190px;
}
.item img {
  width: 100%;
  height: 100%;
}
.images_item p:hover {
  color: orange;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
.text {
  padding: 0 5%;
  line-height: 24px;
  text-align: center;
}
